<div class="layout">
  <div class="page_navbar">
    <div class="nav_brand">
      <img height="50px" width="50px" href="#" src="https://svgshare.com/i/iSq.svg"/>
      <p>The best pizza in your town</p>
    </div>
    <div class="nav_items">
      <a class="nav-item" href="#">Menu</a>
      <a class="nav-item" href="#">News</a>
      <a class="nav-item" href="#">Contacts</a>
    </div>
    <div class="slogan">Work since 2022</div>
  </div>
  <router-outlet></router-outlet>
  <footer class="page_footer">
    <div class="conttainer">
      <div class="general_info">
        <div class="footer_brand">
          <div class="nav_brand">
            <img height="50px" width="50px" href="#" src="https://svgshare.com/i/iSq.svg"/>
            <p>The best pizza in your town</p>
          </div>
        </div>
        <div class="footer_info">
          <div class="about">
            <p>About us</p>
            <a href="#">About us</a>
            <a href="#">Nutrition</a>
          </div>
          <div class="nutrition">
            <p>Our Policies</p>
            <a href="#">Terms & Conditions</a>
            <a href="#">FAQ & Help</a>
          </div>
        </div>
        <div class="footer_socials">
          <p>Follow us</p>
          <div class="socials">
            <a href="#" class="icon">
              <img src='https://svgshare.com/i/ibT.svg' height="30px" width="30px"/>
            </a>
            <a href="#" class="icon">
              <img src='https://svgshare.com/i/ibM.svg' height="30px" width="30px"/>
            </a>
            <a href="#" class="icon">
              <img src='https://svgshare.com/i/id5.svg' height="30px" width="30px"/>
            </a>

          </div>
        </div>
      </div>
      <p class="rules">2022 Pizza Delight inc. All rules didn’t reserved.
      </p>
    </div>
  </footer>
</div>

